
body {
    box-sizing: border-box;
    margin: 0;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    height: 50px;
    background-color: rgb(124, 124, 124);

}

.right-links ul {
    display: flex;           
    list-style: none;         
    padding: 0;
    margin: 0;
    gap: 16px;                
}

.right-links li a {
    text-decoration: none;    
    color: black;            
    font-weight: bold;
}


.container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    height: 790px;
    
}
.calculator{
    display: flex;
    flex-direction: column;
    background-color: rgb(109, 202, 214);
    height: 450px;
    width: 280px;
    max-width: 300px;
    padding: 32px 16px 32px 16px;
    column-gap: 16px;
    row-gap: 16px;
    align-items: center;
    border-radius: 15px;


}

.display{
    display: flex;
    background-color: rgb(255, 255, 255);
    height: 95px;
    width: 280px;
    justify-content: flex-end;
    border-radius: 15px;
    /* flex end for numbers in the display */

}

.keypad{
    display: block;
    width: 270px;
    height: 360px;
}


.firstRow{
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    row-gap: 8px;
}


.remainingRows{
    display: flex;
    column-gap: 8px;
    margin-top: 8px;
    row-gap: 8px;
}

.numericKeys{
    height: 64px;
    width: 64px;
    box-sizing: border-box;
    display: block;
    align-items: flex-start;
    border-radius: 50px;
}

.operatorKeys{
    height: 64px;
    width: 64px;
    border-radius: 50px;
}
#decimalPointKey, #equalsTo, #plus, #allClearButton, #deleteButton{
    width: 64px;
    border-radius: 50px;
}

#deleteButton, #allClearButton{
    height: 64px;
    border-radius: 50px;

}

#branding{
    font-size: 32px;
    display: block;
    align-self: center;
}   

#numDisplay{
    font-size: 50px;
    display: flex;
    align-items: center;
    padding-right: 3px;
}
